<header class="header mb-5">
    <!--
    *** TOPBAR ***
    _________________________________________________________
    -->
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offer mb-3 mb-lg-0"><a href="#" class="btn btn-success btn-sm">Offer of the
                        day</a><a href="#" class="ml-1">Get flat 35% off on orders over $50!</a></div>
                <div class="col-lg-6 text-center text-lg-right">
                    <ul class="menu list-inline mb-0">
                        {{#if user}}
                        <li class="list-inline-item">
                            <a href="#" role="button" data-toggle="dropdown">Tài khoản </a>
                            <div class="dropdown-menu">
                                <p class="dropdown-item" ><b>Xin chào {{user.name}}!</b></p><hr>
                                <a class="dropdown-item text-secondary" href="/users/my-account">Tài khoản của tôi</a>
                                <a class="dropdown-item text-secondary" href="/users/my-orders">Đơn hàng của tôi</a>
                                <a class="dropdown-item text-secondary" href="/users/logout">Đăng xuất</a>
                            </div>
                        </li>
                        {{else}}
                        <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#login-modal">Đăng
                                nhập</a></li>
                        <li class="list-inline-item"><a href="/users/register">Đăng ký</a></li>
                        {{/if}}

                        <li class="list-inline-item"><a href="contact.html">Liên hệ</a></li>
                        <li class="list-inline-item"><a href="#">Xem gần đây</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--- Login modal --->
        <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-white">Đăng nhập</h4>
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <form action="/users/login" method="post">
                            <div class="form-group">
                                <input id="email-modal" type="text" placeholder="Tên tài khoản" class="form-control"
                                    name="username">
                            </div>
                            <div class="form-group">
                                <input id="password-modal" type="password" placeholder="Mật khẩu" class="form-control"
                                    name="password">
                            </div>
                            <p class="text-center">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i> Đăng
                                    nhập</button>
                            </p>
                        </form>
                        <p class="text-center text-muted">Chưa có tài khoản?</p>
                        <p class="text-center text-muted"><a href="/users/register"><strong>Đăng ký ngay</strong></a>!
                            Thực hiện dễ dàng và
                            hoàn thành trong 1 phút, cho phép bạn tiếp cận với các chương trình giảm giá đặc biệt và hơn
                            thế
                            nữa!</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** TOP BAR END ***-->


    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container"><a href="/" class="navbar-brand home"><img src="/images/logo.png" alt="Obaju logo"
                    class="d-none d-md-inline-block"><img src="/images/logo-small.png" alt="Obaju logo"
                    class="d-inline-block d-md-none"><span class="sr-only">Obaju - go to homepage</span></a>
            <div class="navbar-buttons">
                <button type="button" data-toggle="collapse" data-target="#navigation"
                    class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i
                        class="fa fa-align-justify"></i></button>
                <button type="button" data-toggle="collapse" data-target="#search"
                    class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i
                        class="fa fa-search"></i></button><a href="basket.html"
                    class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
            </div>
            <div id="navigation" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>

                    {{#each category}}
                    <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown"
                            data-delay="200" class="dropdown-toggle nav-link">{{productTypeName}}<b
                                class="caret"></b></a>
                        <ul class="dropdown-menu megamenu m-0">
                            <li>
                                <div class="row">
                                    <div class="col-12">
                                        {{!-- <h5>Clothing</h5> --}}
                                        <ul class="list-unstyled">
                                            {{#each childProductTypeID}}
                                            <li class="nav-item"><a
                                                    href="/products/category?page=1&catID={{../_id}}&childCatID={{_id}}"
                                                    class="nav-link">{{childProductTypeName}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {{/each}}
            </div>
            </li>
            </ul>
            </li>
            </ul>
            <div class="navbar-buttons d-flex justify-content-end">
                <!-- /.nav-collapse-->
                <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse"
                    href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span
                        class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
                <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="basket.html"
                        class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>3 items in
                            cart</span></a>
                </div>
            </div>
        </div>
        </div>
    </nav>
    <div id="search" class="collapse">
        <div class="container">
            <form role="search" class="ml-auto">
                <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>